USE [qlmb]
GO
/****** Object:  Table [dbo].[CHI_TIET_HOA_DON]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHI_TIET_HOA_DON](
	[MA_HD] [nchar](24) NOT NULL,
	[MA_VE] [nchar](24) NOT NULL,
	[SO_LUONG] [int] NOT NULL,
	[DON_GIA] [int] NOT NULL,
	[THANH_TIEN] [int] NULL,
 CONSTRAINT [PK_CHI_TIET_HOA_DON_1] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC,
	[MA_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUC_VU]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUC_VU](
	[MA_CV] [nchar](24) NOT NULL,
	[TEN_CV] [nchar](24) NOT NULL,
	[LUONG] [int] NOT NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MA_CV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUYEN_BAY]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUYEN_BAY](
	[MA_CB] [nchar](24) NOT NULL,
	[MA_MB] [nchar](24) NULL,
	[MA_DB] [nchar](24) NULL,
	[GIO_BAY] [nchar](8) NULL,
	[NGAY_DI] [nchar](10) NULL,
	[NGAY_DEN] [nchar](10) NULL,
	[SO_GHE_LOAI_1] [int] NULL,
	[SO_GHE_LOAI_2] [int] NULL,
	[TINH_TRANG] [int] NULL,
 CONSTRAINT [PK_CHUYEN_BAY] PRIMARY KEY CLUSTERED 
(
	[MA_CB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIA_DIEM]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIA_DIEM](
	[MA_DD] [nchar](24) NOT NULL,
	[TEN_DD] [nchar](24) NULL,
	[MUI_GIO] [nchar](24) NULL,
 CONSTRAINT [PK_DIA_DIEM] PRIMARY KEY CLUSTERED 
(
	[MA_DD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DUONG_BAY]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DUONG_BAY](
	[MA_DB] [nchar](24) NOT NULL,
	[MA_SB_DI] [nchar](10) NULL,
	[MA_SB_DEN] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DUONG_BAY] PRIMARY KEY CLUSTERED 
(
	[MA_DB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOA_DON]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOA_DON](
	[MA_HD] [nchar](24) NOT NULL,
	[MA_KH] [int] NOT NULL,
	[MA_NV] [int] NULL,
	[NGAY_MUA] [nchar](10) NULL,
	[TONG_TIEN] [int] NULL,
	[TINH_TRANG] [int] NULL,
	[KM] [int] NULL,
 CONSTRAINT [PK_HOA_DON] PRIMARY KEY CLUSTERED 
(
	[MA_HD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MA_KH] [int] IDENTITY(1,1) NOT NULL,
	[CMND] [nchar](10) NULL,
	[HO] [nchar](10) NULL,
	[LOT] [nchar](10) NULL,
	[TEN] [nchar](10) NULL,
	[SDT] [nchar](10) NULL,
	[DIA_CHI] [nchar](10) NULL,
	[NAM_SINH] [int] NULL,
	[TINH_TRANG] [int] NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MA_KH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KM]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KM](
	[MA_KM] [nchar](10) NOT NULL,
	[BD] [nchar](10) NULL,
	[KT] [nchar](10) NULL,
	[SO] [int] NULL,
 CONSTRAINT [PK_KM] PRIMARY KEY CLUSTERED 
(
	[MA_KM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAY_BAY]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAY_BAY](
	[MA_MB] [nchar](24) NOT NULL,
	[TEN_MB] [nchar](24) NOT NULL,
	[HANG_SX] [nchar](24) NULL,
	[SO_GHE_LOAI_1] [int] NOT NULL,
	[SO_GHE_LOAI_2] [int] NOT NULL,
	[TONG_GHE] [int] NULL,
 CONSTRAINT [PK_MAY_BAY] PRIMARY KEY CLUSTERED 
(
	[MA_MB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[HO] [nchar](8) NULL,
	[LOT] [nchar](8) NULL,
	[TEN] [nchar](8) NULL,
	[MA_CV] [nchar](24) NULL,
	[CMND] [nchar](24) NULL,
	[DIA_CHI] [nchar](24) NULL,
	[SDT] [nchar](24) NULL,
	[NAM_SINH] [int] NULL,
	[MA_NV] [int] IDENTITY(1,1) NOT NULL,
	[TINH_TRANG] [int] NULL,
 CONSTRAINT [PK_NHAN_VIEN_1] PRIMARY KEY CLUSTERED 
(
	[MA_NV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SAN_BAY]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SAN_BAY](
	[MA_SB] [nchar](10) NOT NULL,
	[TEN_SB] [nchar](24) NULL,
	[MA_DD] [nchar](24) NULL,
 CONSTRAINT [PK_SAN_BAY] PRIMARY KEY CLUSTERED 
(
	[MA_SB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAI_KHOAN]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAI_KHOAN](
	[ID] [nchar](10) NOT NULL,
	[MA] [int] NULL,
	[TK] [nchar](10) NULL,
	[MK] [nchar](10) NULL,
	[ROLE] [int] NULL,
 CONSTRAINT [PK_TAI_KHOAN] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VE]    Script Date: 5/20/2021 8:45:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VE](
	[MA_VE] [nchar](24) NOT NULL,
	[MA_CB] [nchar](24) NOT NULL,
	[MA_KH] [int] NULL,
	[NGAY_DAT] [nchar](10) NULL,
	[LOAI_VE] [int] NOT NULL,
	[GIA_TIEN] [int] NOT NULL,
	[TINH_TRANG] [int] NULL,
 CONSTRAINT [PK_VE_MB] PRIMARY KEY CLUSTERED 
(
	[MA_VE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON] FOREIGN KEY([MA_HD])
REFERENCES [dbo].[HOA_DON] ([MA_HD])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_HOA_DON]
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_CHI_TIET_HOA_DON_VE] FOREIGN KEY([MA_VE])
REFERENCES [dbo].[VE] ([MA_VE])
GO
ALTER TABLE [dbo].[CHI_TIET_HOA_DON] CHECK CONSTRAINT [FK_CHI_TIET_HOA_DON_VE]
GO
ALTER TABLE [dbo].[CHUYEN_BAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYEN_BAY_DUONG_BAY] FOREIGN KEY([MA_DB])
REFERENCES [dbo].[DUONG_BAY] ([MA_DB])
GO
ALTER TABLE [dbo].[CHUYEN_BAY] CHECK CONSTRAINT [FK_CHUYEN_BAY_DUONG_BAY]
GO
ALTER TABLE [dbo].[CHUYEN_BAY]  WITH CHECK ADD  CONSTRAINT [FK_CHUYEN_BAY_MAY_BAY] FOREIGN KEY([MA_MB])
REFERENCES [dbo].[MAY_BAY] ([MA_MB])
GO
ALTER TABLE [dbo].[CHUYEN_BAY] CHECK CONSTRAINT [FK_CHUYEN_BAY_MAY_BAY]
GO
ALTER TABLE [dbo].[DUONG_BAY]  WITH CHECK ADD  CONSTRAINT [FK_DUONG_BAY_SAN_BAY] FOREIGN KEY([MA_SB_DEN])
REFERENCES [dbo].[SAN_BAY] ([MA_SB])
GO
ALTER TABLE [dbo].[DUONG_BAY] CHECK CONSTRAINT [FK_DUONG_BAY_SAN_BAY]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_KHACH_HANG] FOREIGN KEY([MA_KH])
REFERENCES [dbo].[KHACH_HANG] ([MA_KH])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_KHACH_HANG]
GO
ALTER TABLE [dbo].[HOA_DON]  WITH CHECK ADD  CONSTRAINT [FK_HOA_DON_NHAN_VIEN] FOREIGN KEY([MA_NV])
REFERENCES [dbo].[NHAN_VIEN] ([MA_NV])
GO
ALTER TABLE [dbo].[HOA_DON] CHECK CONSTRAINT [FK_HOA_DON_NHAN_VIEN]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_CHUC_VU] FOREIGN KEY([MA_CV])
REFERENCES [dbo].[CHUC_VU] ([MA_CV])
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_CHUC_VU]
GO
ALTER TABLE [dbo].[SAN_BAY]  WITH CHECK ADD  CONSTRAINT [FK_SAN_BAY_DIA_DIEM] FOREIGN KEY([MA_DD])
REFERENCES [dbo].[DIA_DIEM] ([MA_DD])
GO
ALTER TABLE [dbo].[SAN_BAY] CHECK CONSTRAINT [FK_SAN_BAY_DIA_DIEM]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_MB_CHUYEN_BAY] FOREIGN KEY([MA_CB])
REFERENCES [dbo].[CHUYEN_BAY] ([MA_CB])
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_MB_CHUYEN_BAY]
GO
